@use '../helpers' as *;

.card{
    &__list{
        display: grid;
        grid-template-columns: repeat(2, rem(600));
        gap: rem(30);

        @include laptop{
            grid-template-columns: repeat(2, rem(500));
            gap: rem(15);
        }

        // верни как было------------------------------------------------------

        // @include tablet{
        //     display: flex;
        //     flex-direction: column;
        //     row-gap: rem(15);
        // }

        &.three-column{
            grid-template-columns: repeat(3, rem(390));
            gap: rem(30);

            @include laptop-s{
                grid-template-columns: repeat(2, rem(350));
            }

            @include tablet{
                display: grid;
                grid-template-columns: repeat(2, rem(350));
                gap: rem(30);
            }

            @include mobile{
                display: flex;
                flex-direction: column;
            }
        }

        &.four-column{
            grid-template-columns: repeat(4, rem(277));
            gap: rem(30);

            @include laptop-s{
                grid-template-columns: repeat(3, rem(250));
            }

            @include tablet{
                display: grid;
                grid-template-columns: repeat(2, rem(250));
                gap: rem(30);
            }

            @include mobile-s{
                display: flex;
                flex-direction: column;
            }
        }

        &.six-column{
            grid-template-columns: repeat(6, rem(120));
            column-gap: fluid(102, 20);
            row-gap: fluid(40, 20);

            @include tablet{
                display: grid;
                grid-template-columns: repeat(4, rem(120));
            }

            @include mobile{
                grid-template-columns: repeat(3, rem(120));
            }

            @include mobile-s{
                grid-template-columns: repeat(2, rem(120));
                column-gap: rem(30);
                row-gap: rem(10);
            }
        }
    }

    &__body{
        &.comminr-soon{
            background-color: var(--color-gray-300);
        }

        &-inner{
            display: flex;
            flex-direction: column;
            row-gap: rem(20);
            padding-block: fluid(32, 15);
            padding-right: fluid(32, 15);

            p{
                color: var(--color-gray-700);

                @include mobile{
                    padding-inline: rem(20);
                }
            }

            &.vertical{
                padding-left: rem(24);

                @include mobile{
                    padding-left: 0;
                    padding-right: 0;
                    width: rem(400);
                    row-gap: rem(10);
                    padding-block: 0;
                    row-gap: rem(20);
                }

                @include mobile-s{
                    width: rem(300);
                }
            }

            &.about{
                padding-left: rem(24);

                @include mobile{
                    padding-left: 0;
                    padding-right: 0;
                    width: auto;
                    row-gap: rem(10);
                    padding-block: 0;
                    row-gap: rem(20);
                }    
            }

            &.course{
                @include tablet{
                    padding-left: 0;
                    padding-right: 0;
                    width: rem(300);
                    row-gap: rem(10);
                    padding-block: 0;
                    row-gap: rem(20);
                }
            }

            @include mobile-s{
                width: rem(200);
                row-gap: fluid(10, 5);
                padding-block: rem(15);
                padding-right: rem(5);
            }
        }

        &.horisontal{
            display: flex;
            column-gap: fluid(32, 10);
        }

        &.vertical{
            display: flex;
            flex-direction: column;
        }

        &.course{
            display: flex;
            column-gap: fluid(32, 10);
            width: fluid(590, 300);

            @include tablet{
                flex-direction: column;
                width: rem(300);
            }
        }
    }

    &__image{
        @include mobile{
            width: rem(190);
        }

        @include mobile-s{
            width: rem(150);
        }

        &.vertical{
            @include mobile{
                width: rem(400);
            }

            @include mobile-s{
                width: rem(300);
            }
        }

        &.about{
            width: auto;
        }

        &.course{
            @include tablet{
                width: rem(300);
            }  
        }
    }

    &__item{
        border: rem(1) solid var(--color-gray-300);
        border-radius: rem(4);
        cursor: pointer;
        box-shadow: 
        0 4px 4px -4px rgba(30, 33, 44, 0.03),
        0 12px 10px -6px rgba(154, 156, 165, 0.04),
        0 30px 24px -10px rgba(154, 156, 165, 0.05), 
        0 80px 80px -20px rgba(154, 156, 165, 0.08);

        &:hover{
            box-shadow:
            4px 4px 4px -4px rgba(30, 33, 44, 0.05),
            16px 12px 10px -6px rgba(154, 156, 165, 0.08),
            40px 30px 24px -10px rgba(154, 156, 165, 0.1),
            100px 80px 80px -20px rgba(154, 156, 165, 0.16);
        }

        &.hide{
            display: none;
        }

        &.course{
            box-shadow: none;
        }
    }

    &__title{
        @include mobile-s{
            font-size: rem(14);
        }

        &.vertical{
            @include tablet{
                font-size: rem(18);
                text-align: center;
            }

            @include mobile-s{
                font-size: rem(16);
            }
        }

        &.course{
            @include tablet{
                font-size: rem(18);
                text-align: center;
                padding-inline: rem(8);
            }

            @include mobile-s{
                font-size: rem(16);
            }
        }
    }

    &__subtitle{
        @include fluid-text(16, 12);

        display: inline-flex;
        border-radius: rem(4);
        padding: rem(0) rem(8);
        color: var(--color-light);
        align-self: flex-start;
        white-space: nowrap;

        &.green{
            background-color: var(--color-green);
        }

        &.orange{
            background-color: var(--color-orange);
        }

        &.blue{
            background-color: var(--color-blue);
        }

        &.pink{
            background-color: var(--color-pink);
        }

        &.purple{
            background-color: var(--color-purple);
        }

        &.vertical{
            @include fluid-text(16, 14);

            @include mobile{
                display: flex;
                text-align: center;
                align-self: stretch;
                justify-content: center;
                border-radius: 0;
                font-size: rem(16);
            }
        }

        &.course{
            @include tablet{
                display: flex;
                text-align: center;
                align-self: stretch;
                justify-content: center;
                border-radius: 0;
                font-size: rem(16);
            }
        }
    }

    &__info{
        display: flex;
        column-gap: rem(8);

        @include mobile-s{
            flex-direction: column;
        }

        &.vertical{
            width: rem(300);
            padding-bottom: rem(15);

            @include mobile{
                width: 100%;
                flex-direction: row;
                place-content: center;
            }
        }

        &.course{
            @include tablet{
                width: 100%;
                flex-direction: row;
                place-content: center;
                padding-bottom: rem(20);
            }
        }
    }

    &__price{
        color: var(--color-light-red);
    }

    &__separator{
        color: var(--color-gray-700);

        &.horisontal{
            @include mobile-s{
                display: none;
            }
        }
    }

    &__speaker{
        color: var(--color-gray-700);
        font-weight: 400;

        &.horisontal{
            @include mobile-s{
                border-top: rem(1) solid var(--color-gray-700);
            }
        }
    }

    &__comminr-soon{
        padding-inline: fluid(74, 40);
        padding-top: fluid(164, 90);
        padding-bottom: fluid(204, 90);
        font-weight: 700;
        font-size: rem(20);
    }
}