@use '../helpers' as *;

.courses{
    display: flex;
    flex-direction: column;
    row-gap: fluid(60, 30);
    place-items: center;

    &.padding-top{
        padding-top: fluid(200, 100);
    }

    @include laptop{
        padding-inline: rem(10);
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include tablet{
            flex-direction: column;
        }

        &.center{
            flex-direction: column;
            row-gap: rem(8);
            justify-content: center;
        }
    }

    &__body{
        &.row{
            display: flex;
            flex-direction: column;
            row-gap: rem(60);
            //align-items: center;
            place-items: center;
        }
    }

    &__title-wrapper{
        @include tablet{
            text-align: center;
        }
    }

    &__subtitle{
        font-weight: 700;
    }

    &__title{
        white-space: nowrap;
    }

    &__button{
        max-height: rem(52);
        margin-top: rem(25);

        @include tablet{
            margin-top: rem(10);
        }
    }

    &__load{
        display: inline-flex;
        column-gap: rem(16);
        background: none;
        border: none;
    }
}