@use '../helpers' as *;

.field {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  align-items: start;
  row-gap: rem(8);
  font-weight: 400;
  font-size: rem(14);

  &__password-wrapper{
    position: relative;
    width: 100%;
  }

  &__control {
    width: 100%;
    height: rem(44);
    padding-left: rem(16);
    padding-right: rem(30);
    border: rem(1) solid var(--color-gray-400);
    border-radius: rem(4);

    &:hover{
      border-color: var(--color-gray-800);
      box-shadow: var(--shadow);
    }

    &:focus{
      border-color: var(--color-gray-800);
      box-shadow: var(--shadow);
    }

    &:not(:placeholder-shown){
      border-color: var(--color-gray-800);
    }

    &:-webkit-autofill{
      box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.12) inset !important;
      -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.12) inset !important;
      -webkit-text-fill-color: var(--color-gray-800) !important;
      opacity: 1 !important;
    }

    &::placeholder {
      color: var(--color-gray-600);
    }

  }


  &__label{
    color: var(--color-gray-800);
  }


  &__link{
    color: var(--color-accent);
    position: absolute;
    top: rem(15);
    right: rem(14);


    &:not(.active-viewing){
      color: var(--color-gray-800);
      box-shadow: none;
    }
  }

  &__error{
    padding-left: rem(5);
    color: var(--color-red);
    text-align: start;
    display: none;
  }
  
  &.active-error{
    .field__control{
      border-color: var(--color-red);
    }

    .field__label{
      color: var(--color-red);
    }

    .field__error{
      display: block;
    }
  }
}
