@use '../helpers' as *;

.program{
    display: flex;
    justify-content: space-between;

    @include laptop{
        padding-inline: rem(20);
    }

    @include tablet{
        place-content: center;
    }

    &__body{
        display: flex;
        flex-direction: column;
        row-gap: fluid(60, 30);
    }
    
    &__header{
        @include tablet{
            text-align: center;
        }
    }

    &__accordion{
        display: grid;
        row-gap: rem(24);
        width: fluid(600, 300);
    }

    &__image{
        @include tablet{
            display: none;
        }
    }
}