@use '../helpers' as *;

.sign-in {
  display: none;

  &.active-form {
    display: block;
  }
}

.sign-up {
  display: none;

  &.active-form {
    display: block;
  }
}

.registered{
    display: flex;
    max-width: fluid(486, 290);
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(486);
    border-radius: rem(4);
    background-color: var(--color-light);
    z-index: 100000;

    @include mobile{
        top: 40%;
        transform: translate(-50%, -45%);
    }

    @include mobile-s{
        transform: translate(-50%, -40%);
    }


    &__form{
        max-width: 100%;
        margin-inline: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
        padding: rem(24) rem(48);
        row-gap: rem(20);

        @include mobile{
            padding: rem(12) rem(24);
        }

        @include mobile-s{
            padding: rem(7) rem(15);
            row-gap: rem(10);
        }

        &-cell{
            &.texter{
                padding-bottom: rem(24);
            }
        }
    }

    &__title{
        padding-top: rem(20);
    }

    &__description{
        color: var(--color-gray-700);

        @include mobile-s{
            font-size: rem(12);
        }
    }


    &__body{
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        width: 100%;

        @include mobile-s{
            row-gap: rem(10);
        }
    }
    

    &__signed{
        display: flex;
        column-gap: fluid(100, 10);
        white-space: nowrap;

        @include tablet{
            column-gap: rem(30);
        }

        @include mobile{
            flex-direction: column;
            place-items: center;
            row-gap: rem(7);
        }
    }

    &__forgotpassword{
        font-size: rem(14);
        color: var(--color-accent);
    }

    &__signup{
        display: flex;
        justify-content: start;
        column-gap: rem(2);

        @include mobile-s{
            flex-direction: column;
            place-items: center;
        }
    }

    &__signup > a:last-child{
        color: var(--color-accent);
    }

    &__with{
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
        border-top: rem(1) solid var(--color-gray-400);
        padding-block: rem(24);
        place-items: center;

        @include mobile{
            padding-block: rem(5);
            row-gap: rem(10);
        }
    }

    &__alternative{
        display: flex;
        padding-bottom: rem(24);
        column-gap: rem(12);
    }

    &-link{
        &-cross{
            position: absolute;
            right: rem(24);
        }
    }
}

