@use '../helpers' as *;

.select {
  display: flex;
  column-gap: rem(10);
  place-items: center;

  &.hide{
    display: none;
  }

  @include mobile{
    flex-direction: column;
    row-gap: rem(5);
  }

  &__label{
    white-space: nowrap;
  }

  &__original-control {
    display: none;
  }

  &__body {
    position: relative;
  }

  &__button{
    display: flex;
    align-items: center;
    column-gap: rem(15);
    justify-content: space-between;
    transition-duration: var(--transition-duration);
    white-space: nowrap;

    &.is-expanded{
        &::after{
            rotate: -180deg;
        }
    }

    &::after {
      width: rem(17);
      height: rem(17);
      content: '';
      background:
        url('../../icons/Down-chevron.svg')
        center/contain no-repeat;
      transition-duration: var(--transition-duration);
    }
  }

  &__icon{
    padding-bottom: rem(3);
  }

  &__dropdown{
    position: absolute;
    top: calc(100% + #{rem(4)});
    display: grid;
    row-gap: rem(6);
    min-width: rem(160);
    max-height: rem(300);
    overflow-y: auto;
    padding: rem(8);
    background-color: var(--color-light);
    border: rem(1) solid var(--color-gray-400);
    border-radius: rem(4);
    transition-duration: var(--transition-duration);
    z-index: 1;
    transform-origin: center top;

    &:not(.is-expanded){
      @include hide;

      scale: 0;
    }
  }

  &__option{
    display: flex;
    column-gap: rem(8);
    padding: rem(5);
    place-items: center;
    border-bottom: rem(1) solid var(--color-gray-400);
    transition-duration: var(--transition-duration);
    cursor: pointer;

    &:last-child{
      border-bottom: none;
    }

    &:hover{
      color: var(--color-accent);
    }

    &.is-selected{
      color: var(--color-accent);

      &:before{
        content: '';
        width: rem(7);
        height: rem(7);
        background-color: var(--color-accent);
        border-radius: 60%;
      }
    }

    &.is-current{
      color: var(--color-accent);
    }
  }

  &__spinbutton{
    position: relative;
    display: flex;
    column-gap: rem(15);
    place-items: center;
    justify-content: space-between;
    padding-left: rem(14) !important;
    padding-right: rem(30) !important;
  }

  &__buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;

    &-button{
      width: rem(30);
      height: rem(20);
      padding: 0 !important;
    }
  }

  &__icon{
    position: absolute;
    right: rem(12);
    top: rem(12.5);
  }
}