@use '../helpers' as *;

.tabs{
    display: flex;
    flex-direction: column;
    row-gap: fluid(60, 15);
    place-items: center;

    &__body{
        display: flex;
        column-gap: fluid(100, 10);

        &.cours{
            width: fluid(1230, 300);

            @include laptop-s{
                flex-direction: column;
                row-gap: rem(30);
            }
        }
    }

    &__list{
        display: flex;
        justify-content: center;

        &.cours{
            display: flex;
            column-gap: rem(12);

            @include mobile-s{
                display: grid;
                grid-template-columns: repeat(2, rem(130));
            }
        }

        @include mobile{
            flex-wrap: wrap;
            row-gap: rem(10);
        }
    }

    &__item{
        @include hover{
            color: var(--color-accent);
        }

        display: flex;
        column-gap: rem(8); 
        width: fluid(307, 200);
        height: fluid(46, 30);
        background: none;
        border: none;
        white-space: nowrap;
        color: var(--color-gray-600);
        place-content: center;
        align-items: center;
        font-size: rem(16);

        &.active{
            color: var(--color-accent);
            border: rem(1) solid var(--color-accent);
            border-radius: rem(4);
            pointer-events: none;
        }

        &.cours{
            width: auto;
            height: auto;
            column-gap: rem(4);
            padding: rem(10) rem(20);
            align-self: flex-start;
        }

        // &:not(.active-link){
        //     @include hover{
        //         color: var(--color-accent);
        //     }

        //     color: var(--color-gray-600);
        //     border: none;
        // }
    }

    &__superscript{
        //vertical-align: top;
        font-size: rem(10);
        margin-top: rem(-10);
        //margin-left: rem(-5);
    }

    &__block{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile{
            flex-direction: column;
            column-gap: rem(15);
        }

        &.active:focus-visible {
            border: rem(1) solid var(--color-accent);
            box-shadow: 5px 5px 10px #FF3F3A;
        }
        
        &:not(.active){
            display: none;
        }

        &-inner{
            display: flex;
            flex-direction: column;
            width: fluid(495, 290);
            row-gap: fluid(24, 10);
        }

        &-title{
            font-size: fluid(32, 18);
            font-weight: 900;

            @include mobile{
                text-align: center;
            }
        }

        &-image{
            width: fluid(600, 300);
        }
    }

    &__search-wrapper{
        width: 100%;
        min-width: rem(300);
        height: rem(44);
        position: relative;
        align-content: center;
    }

    &__search{
        width: 100%;
        height: rem(44);
        opacity: 0.6;
        font-size: rem(14);
        padding-inline: rem(9);
        padding-right: rem(30);
        border-radius: rem(4);

        &:hover{
            border-color: var(--color-gray-800);
            box-shadow: var(--shadow);
        }

        &:focus{
            border-color: var(--color-gray-800);
            box-shadow: var(--shadow);
        }
    }

    &__btnsearch{
        position: absolute;
        top: 30%;
        left: 90%;
        background: none;
        border: none;

        @include tablet{
            left: 95%;
        }

        @include mobile{
            left: 90%;
        }
    }
}