@use '../helpers' as *;

.team{
    &.event{
        padding-bottom: fluid(180, 60);

        @include mobile-s{
            padding-inline: 0;
        }
    }

    @include laptop{
        padding-inline: rem(15);
    }

    &__header{
        display: flex;
        justify-content: space-between;

        @include mobile-s{
            flex-direction: column;
            text-align: center;
        }

        &.event{
            justify-content: flex-start;
            column-gap: fluid(400, 10);

            @include mobile{
                flex-direction: column;
                text-align: center;
            }            
        }
    }

    &__subtitle{
        font-weight: 700;
    }

    &__title{
        font-size: fluid(46, 28);
        font-weight: 900;
    }

    &__buttons{
        margin-top: rem(25);
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile-s{
            justify-content: space-between;
        }

        &.event{
            @include mobile{
                justify-content: space-between;
            }
        }
    }

    &__button{
        border: none;
        background: none;

        &:hover path[fill]{
            fill: white;
        }

        &:hover circle{
            opacity: 1;
        }
    }

    &__body{
        display: flex;
        flex-direction: column;
        row-gap: fluid(60, 20);

        &.event{
            place-items: center;
        }


        @include mobile-s{
            place-items: center;
        }

        &-inner{
            display: flex;
            column-gap: rem(30);
            overflow-x: auto;
            scroll-behavior: smooth;
            width: fluid(1230, 200);
            overflow-y: hidden;
            scroll-snap-type: x mandatory;

            &::-webkit-scrollbar{
                display: none;
            }

            @include mobile-s{
                width: rem(200);
            }

            &.event{
                @include mobile{
                    width: rem(302);
                }
            }
        }
    }

    &__card{
        display: flex;
        flex-direction: column;
        position: relative;
        width: fluid(285, 200);
        flex-shrink: 0;
        scroll-snap-align: start;

        &.focused{
            .team__card-shadow{
                background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, 
                rgba(30, 33, 44, 0.03) 55.21%, 
                rgba(30, 33, 44, 0.33) 68.73%, 
                rgba(30, 33, 44, 0.56) 76.17%, 
                rgba(30, 33, 44, 0.77) 83.75%, 
                rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
            }

            .team__card-icons{
                opacity: 1;
            }
        }

        &:hover .team__card-shadow{
            background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, 
            rgba(30, 33, 44, 0.03) 55.21%, 
            rgba(30, 33, 44, 0.33) 68.73%, 
            rgba(30, 33, 44, 0.56) 76.17%, 
            rgba(30, 33, 44, 0.77) 83.75%, 
            rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
        }

        &:hover .team__card-icons{
            opacity: 1;
        }

        &.event{
            width: fluid(390, 300);
            background-color: var(--color-light);
            padding: rem(24);
            row-gap: fluid(51, 20);
            justify-content: space-between;
            border: rem(1) solid var(--color-gray-400);
            border-radius: rem(4);
            box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
            transition: box-shadow var(--transition-duration);

            &:hover{
                box-shadow:
                    4px 4px 4px -4px rgba(30, 33, 44, 0.05),
                    16px 12px 10px -6px rgba(154, 156, 165, 0.08),
                    40px 30px 24px -10px rgba(154, 156, 165, 0.1),
                    100px 80px 80px -20px rgba(154, 156, 165, 0.16)
                ;
            }
        }


        &-head{
            position: relative;
        }

        &-shadow{
            position: absolute;
            width: rem(285);
            height: rem(340);

            @include tablet{
                display: none;
            }
        }

        &-image{
            @include mobile-s{
                width: rem(200);
                height: rem(238);
            }
        }

        &-icons{
            position: absolute;
            top: rem(300);
            right: rem(20);
            z-index: 100;
            opacity: 0;

            @include tablet{
                display: none;
            }
        }

        &-info{
            padding-top: rem(16);
            text-align: center;
        }

        &-name{
            color: var(--color-gray-800);
            font-size: rem(20);
            font-weight: 700;
        }

        &-position{
            color: var(--color-gray-700);
        }

        &.hide{
            display: none;
        }
    }

    &__head{
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
    }

    &__data{
        display: flex;
        flex-direction: column;
        row-gap: rem(4);

        &-day{
            color: var(--color-accent);
        }

        &-time{
            color: var(--color-gray-700);
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        row-gap: rem(8);

        &-desciption{
            font-size: rem(18);
            font-weight: 700;
        }

        &-type{
            color: var(--color-gray-700);
        }
    }

    &__footer{
        display: flex;
        column-gap: rem(40);
        place-items: center;

        @include mobile{
            flex-direction: column;
            row-gap: rem(20);
        }
    }
}