@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
  }

  &.lock-form {
    overflow: hidden;
    height: 100vh; /* Важно для корректной работы на мобильных */
    position: fixed; /* Предотвращает смещение контента */
    width: 100%;     /* Предотвращает смещение контента */
    top: 0;
    left: 0;
  }
}

body {
  @include fluid-text(16, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--color-gray-800);
  background-color: var(--color-light);

}

main {
  background-color: var(--color-light);
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-gray-900);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent);
  font-weight: 900;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
}

h1, .h1 {
  @include fluid-text(46, 28);

  line-height: 1.3;
}

h2, .h2 {
  @include fluid-text(32, 24);

  line-height: 1.3;
}

h3, .h3 {
  @include fluid-text(28, 18);
}

h4, .h4 {
  @include fluid-text(20, 16);

  line-height: 1.5;
}

h5, .h5 {
  @include fluid-text(18, 14);
}

h6, .h6 {
  @include fluid-text(16, 12);
}

// p {
//   --paragraphMarginBottom: #{rem(24)};
// }

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  // outline: rem(2) dashed var(--color-light);
  outline: none;
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;

  -webkit-text-fill-color: #000 !important;

  transition: background-color 5000s ease-in-out 0s !important;
}

a, button {
  &:focus-visible{
    border: rem(1) solid var(--color-accent);
    box-shadow: 5px 5px 10px #FF3F3A;
  }
}


// a,
// button {
//   &[aria-label] {
//     position: relative;

//     &::before {
//       @include abs-center;
//       @include square(rem(44));

//       content: '';
//     }
//   }
// }